.nxq-contact-wrapper {
  overflow: hidden;
}

/* HERO */

.nxq-contact-hero {
  padding: 120px 20px;
  text-align: center;
  background: linear-gradient(135deg,#0f172a,#1e293b);
  color: white;
}

.nxq-contact-hero h1 {
  font-size: 40px;
  font-weight: 700;
  animation: nxqFadeUp 1s ease;
}

.nxq-contact-hero p {
  max-width: 700px;
  margin: auto;
  margin-top: 15px;
  opacity: .9;
}

/* CARDS */

.nxq-contact-cards-section {
  padding: 80px 0;
}

.nxq-contact-card {
  background: white;
  padding: 30px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 10px 35px rgba(0,0,0,.08);
  transition: .4s;
}

.nxq-contact-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 45px rgba(0,0,0,.15);
}

.nxq-contact-icon {
  font-size: 25px;
  color: #2563eb;
  margin-bottom: 15px;
}

/* FORM */

.nxq-contact-form-section {
  padding: 100px 0;
  background: #f8fafc;
}

.nxq-contact-left img {
  transition: .5s;
}

.nxq-contact-left img:hover {
  transform: scale(1.05);
}

.nxq-contact-form-box {
  background: white;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 10px 35px rgba(0,0,0,.08);
}

.nxq-contact-input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 12px;
  border: 1px solid #ddd;
  outline: none;
  transition: .3s;
}

.nxq-contact-input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 4px rgba(37,99,235,.15);
}

.nxq-contact-btn {
  width: 100%;
  border: none;
  background: #2563eb;
  color: white;
  padding: 15px;
  border-radius: 12px;
  font-weight: 600;
  transition: .4s;
}

.nxq-contact-btn:hover {
  transform: translateY(-3px);
  background: #1747b8;
}

/* MAP */

.nxq-contact-map-section {
  overflow: hidden;
}

/* FAQ */

.nxq-contact-faq-section {
  padding: 100px 0;
}

.accordion-item {
  border-radius: 15px !important;
  overflow: hidden;
}

@keyframes nxqFadeUp {

  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media(max-width:768px){

  .nxq-contact-hero h1{
      font-size:40px;
  }

}