.internship-section {
  background: #f8f9fa;
}

.internship-title {
  font-size: 1.7rem;
  font-weight: 700;
  color: #001f5c;
}

.internship-line {
  width: 120px;
  height: 5px;
  background: #ffc107;
  margin: 15px auto;
  border-radius: 20px;
}

.internship-subtitle {
  max-width: 700px;
  margin: auto;
  font-size: 18px;
  color: #6c757d;
}

.internship-card {
  background: #fff;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  height: 100%;
  transition: 0.4s;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.internship-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

.internship-icon {
  width: 50px;
  height: 50px;
  background: #001f5c;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  margin: auto auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.internship-card h4 {
  color: #001f5c;
  font-weight: 700;
  font-size: 20px;
}

.internship-image {
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.internship-content h3 {
  color: #001f5c;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
}

.internship-content ul {
  list-style: none;
  padding: 0;

}

.internship-content ul li {
  margin-bottom: 12px;
}

.internship-stat {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.internship-stat h3 {
  color: #001f5c;
  font-weight: 700;
  font-size: 22px;
}

.internship-stat p {
  margin: 0;
  font-size: 17px;
}

@media (max-width: 768px) {
  .internship-title {
    font-size: 2rem;
  }

  .internship-content {
    margin-top: 30px;
  }
}